
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$camera-manager-primary: mat-palette($mat-indigo);
$camera-manager-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$camera-manager-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$camera-manager-theme: mat-light-theme((
  color: (
    primary: $camera-manager-primary,
    accent: $camera-manager-accent,
    warn: $camera-manager-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($camera-manager-theme);

html, body {
  height: 100%;
  background: #999999;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

cm-header .mat-toolbar {
  background: #cccccc;
}

.page {
  padding: 2rem 2rem 2rem 2rem;
}

.page table {
  width: 100%;
}

.page .mat-cell, .page .mat-header-cell {
  padding: 0 0 0 0.5rem;
}

.page .mat-cell:last-child, .page .mat-header-cell:last-child {
  //padding: 0;
}

mat-icon {
  display: inline-flex;
  vertical-align: middle;
  zoom: 85%;
  margin: 0 0.5rem 0 0;
}

.mat-toolbar {
  background: #efefef;
}

.table-tool-bar {
  display: flex;
  justify-content: space-between;
}

.table-tool-bar > button {
  margin: 0 0 0 1rem;
}

.table-wrapper {
  border: #dddddd solid 1px;
}

