:host {
  display: block;
}

.filter-input {
  width: 50%;
  font-size: 1rem;
}

.vertical-button-group > button {
  margin-left: 0.5rem;
}

.action-button {
  width: 2rem;
  height: 1.5rem;
  line-height: 0.75rem;
  font-size: 0.75rem;
  padding: 0 0;
  margin: 0 0.5rem 0 0;
}
