<h1>Camera Assigmments</h1>

<div class="table-wrapper">
<mat-toolbar class="table-tool-bar">
  <mat-form-field appearance="legacy" class="filter-input">
    <input matInput (change)="updateFilter($event)" name="filter" type="search" value="">
  </mat-form-field>
  <div class="vertical-button-group">
    <button mat-stroked-button (click)="showCreateAssignmentDialog()">Assign Camera</button>
    <button mat-stroked-button disabled (click)="onClickToggleShowDeleted()" [innerHTML]="getDeletedToggleText()"></button>
  </div>
</mat-toolbar>

<table mat-table [dataSource]="tableDataSource">

  <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{ columnsConfig[column].name }}">
    <th mat-header-cell *matHeaderCellDef> {{ columnsConfig[column].label }} </th>
    <td mat-cell *matCellDef="let row">
      <!-- display content if not the 'actions' column -->
      <ng-template [ngIf]="(column!=='actions')" [ngIfElse]="actions">{{ columnsConfig[column].getValue(row) }}</ng-template>
      <!-- the 'actions' column is a special case where we want access to template functionality -->
      <ng-template #actions>
        <button mat-stroked-button (click)="onDeleteAction(columnsConfig['id'].getValue(row))" class="action-button">Delete</button>
        <button mat-stroked-button disabled class="action-button">Edit</button>
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

</table>
</div>
