<h1>Cameras</h1>

<div class="table-wrapper">
<table mat-table [dataSource]="tableDataSource">

  <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{ columnsConfig[column].name }}">
    <th mat-header-cell *matHeaderCellDef> {{ columnsConfig[column].label }} </th>
    <td mat-cell *matCellDef="let vehicleRow"> {{ columnsConfig[column].getValue(vehicleRow) }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

</table>
</div>
