<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content [innerHTML]="data.text"></div>
<div mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close (click)="onClickDeny()">Cancel</button>
  <button mat-flat-button color="primary" (click)="onClickConfirm()">Delete</button>
</div>
