<div *ngFor="let menuItem of menuItems">
  <div>
    <button mat-button routerLink="{{ menuItem.link }}" routerLinkActive="active">
      <mat-icon aria-hidden="false" aria-label="{{ menuItem.icon }}">{{ menuItem.icon }}</mat-icon>
      {{ menuItem.label }}</button>
  </div>
</div>


