:host {
  display: block;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.summary-card {
  display: inline-block;
  max-width: 12rem;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
