<h1>Summary</h1>

<!-- Total vehicles, cameras, active assignments -->
<!-- Unassigned Cameras, links -->
<!-- Vehicles without Cameras, links -->

<div class="card-container">
  <mat-card class="summary-card">
    <h2>Cameras</h2>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
  </mat-card>

  <mat-card class="summary-card">
    <h2>Vehicles</h2>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card>

  <mat-card class="summary-card">
    <h2>Assignments</h2>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card>
</div>
