<cm-header></cm-header>
<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <cm-menu class="content-container"></cm-menu>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
