<h1 mat-dialog-title>Assign a Camera to a Vehicle</h1>
<div mat-dialog-content>

<form *ngIf="isValidSelectionPossible()" [formGroup]="createCameraAssignmentGroup" >
  <!-- Vehicle Selection -->
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Vehicle</mat-label>
      <mat-select [formControlName]="FormProps.vehicleId">
        <mat-option *ngFor="let vehicle of filteredVehicles" [value]="vehicle.Id">
          {{vehicle.Name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Camera Selection -->
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Camera</mat-label>
      <mat-select [formControlName]="FormProps.cameraId">
        <mat-option *ngFor="let camera of filteredCameras" [value]="camera.Id">
          {{camera.DeviceNo}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</form>

<div *ngIf="!isValidSelectionPossible()">Either you have no cameras to assign or no vehicles without a camera.</div>

</div>
<div mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>Cancel</button>
  <button *ngIf="isValidSelectionPossible()" mat-flat-button color="primary" [disabled]="createCameraAssignmentGroup.invalid" (click)="onClickSubmit()">Submit</button>
</div>
